@model IEnumerable<MVC_Product_Manager.Models.Category>

<div class="card-columns">
    @foreach (var item in Model)
    {
        <div class="card">
            <a  asp-action="Details" asp-route-id="@item.Id">
            <img class="card-img-top" src="~/images/@item.Image" alt="~/images/user-g3caffd83d_640.png">
            </a>
            <div class="card-body">
                <a asp-action="Details" asp-route-id="@item.Id"><h5 class="card-title">@item.CategoryName</h5></a>
                <p class="card-text">@Html.Raw(item.Description)</p>
                @*<p class="card-text">@item.Description.</p>*@
            </div>
            <div class="card-footer">
                <p class="card-text">
                    <small class="text-muted">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
                    </small>
                </p>
            </div>
        </div>
    }
</div>
