@model IEnumerable<MVC_Product_Manager.Models.Product>

@{
    ViewData["Title"] = "List of Products in the Category";
}
@{
    Pagination pagination = new Pagination();
    int pageNr = 0;
    if (ViewBag.Pagination != null)
    {
        pagination = ViewBag.Pagination;
        pageNr = pagination.CurrentPage;
    }
}
<h1>List of Products in the Category</h1>
<hr />
<p>
    <a asp-action="Create" asp-controller="Product">Create New</a>
</p>
<div class="row">

    <div class="col">
        @foreach (var item in Model)
        {
            <div class="media">
            @if (item.Image != null)
            {
                <img class="mr-3" src="~/images/@item.Image" alt="~/images/user-g3caffd83d_640.png" style="width: 64px; height:64px;">
            }
            else
            {
                <img class="mr-3" src="~/images/default/default.png" alt="HalloWelt" style="width: 64px; height:64px;">
            }
            <div class="media-body">
                <h5 class="mt-0">@item.ProductName</h5>
                <p>@Html.Raw(item.Description)</p>
            </div>
            <a asp-action="Edit" asp-route-id="@item.Id" asp-controller="Product">Edit </a> |
            <a asp-action="Details" asp-route-id="@item.Id" asp-controller="Product"> Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id" asp-controller="Product"> Delete</a>
            </div>
        }
    </div>

    </div>
    <p>
        <a asp-action="Index">Back to Category List</a>
    </p>
    <partial name="_PaginationView" model="@pagination"/>

